/* Custom CSS for the Word Vector Interface */

html {
  font-size: 1rem;
}

body {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3 {
  font-size: 2em;
  font-weight: normal;
  text-align: left;
}

/* Unset a bunch of Shiny Dashboard rules in order to use CSS Grid. */
html, body, .wrapper {
  height: 100% !important;
  min-height: unset !important;
}

.main-header, .main-sidebar, .content-wrapper {
  max-height: unset !important;
  min-height: unset !important;
  z-index: unset !important;
  transform: none;
}

.wrapper {
  display: grid;
  font-size: 1rem;
  grid-gap: 0;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: auto 1fr;
  justify-items: stretch;
}

.wrapper:before {
  content: none;
  display: none;
}

.content-wrapper {
  align-items: stretch;
  background-color: #ecf0f5; /* via shinydashboard */
  display: flex;
  grid-area: content;
  margin-left: 0;
  overflow-y: auto;
}

.content {
  margin: 0;
  width: 100%;
}

.irs--shiny .irs-grid-pol {
  background-color: #428bca;
  opacity: 0.875;
}

.irs--shiny .irs-grid-text {
  color: #99a4ac;
}

.dataTables_wrapper {
  overflow-y : auto;
}

/* Keep padding the same between <th>s and <td>s. */
table.dataTable thead th, table.dataTable thead td,
table.dataTable tbody th, table.dataTable tbody td {
  padding: 0.5rem 0.625rem;
}

.visualization {
  width : 100%;
}

#cluster-button-container {
  display: flex;
  margin: 0;
  padding: 0;
}

#clustering_reset_input_fullcluster,
#downloadData {
  margin: auto;
}

#downloadData {
  color: #444;
}

.datatables {
  min-height : 20px !important;
}

.nav-item {
  font-size: 1.125em;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, 
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, 
.container-fluid:after, .container-fluid:before, 
.container:after, .container:before, 
.dl-horizontal dd:after, .dl-horizontal dd:before, 
.form-horizontal .form-group:after, .form-horizontal .form-group:before, 
.modal-footer:after, .modal-footer:before, 
.modal-header:after, .modal-header:before, .nav:after, .nav:before, 
.navbar-collapse:after, .navbar-collapse:before, 
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, 
.pager:after, .pager:before, .panel-body:after, .panel-body:before, 
.row:after, .row:before {
  display: table;
  content: unset;
}

.nav-tabs-custom > .nav-tabs {
  border-bottom: thin solid #a1a1a1;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: #a1a1a1;
  border-right-color: #a1a1a1;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
  background-color: rgba(220, 220, 220, 0.6);
  color: black;
}

.btn, .form-control {
  font-size: 0.875rem;
}

.compare_width {
  width: 60%;
}

.main-header {
  background-color: #343a40 !important;
  grid-area: header;
  position: unset;
}

.main-header .navbar {
  /*font-size: 1.275em;*/
  margin : 0;
  padding: 0.15rem 0.25rem;
  position: unset;
}

.main-header .navbar .container {
  margin: 0.25rem 1rem;
  max-width: unset;
}

.main-sidebar {
  background-color: #222d32; /* via shinydashboard */
  grid-area: sidebar;
  margin: 0;
  min-height: unset;
  padding: 0 1.125rem;
  position: initial;
  width: 100%;
}

#navbarResponsive {
  background-color: rgb(67, 76, 81);
  display: none;
  padding: 0.25em 0.5em 0.5em;
}

#navbarResponsive .navbar-nav {
  margin: 0;
}

#navbarResponsive .nav-link {
  color: white;
}

#navbarResponsive .nav-link:focus,
#navbarResponsive .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

#navbarResponsive .dropdown-menu {
  background-color: white;
}

#sidebarItemExpanded {
  color: white;
  padding-bottom: 1rem; /* mod of shinydashboard */
}

.box {
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  overflow: auto;
}

.model_header {
  height : 160px;
}

.home_desc {
  border-bottom: medium solid;
  border-radius: 0.125rem;
  font-size: 0.9em;
  margin-bottom: 2em;
  padding: 0.5rem 1.25rem;
}

.welcome_desc {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.dataTables_filter {
  display: none !important;
}

#word_cloud {
  height: calc(100vh - 200px);
}

#word_cloud.shiny-output-error-validation {
  visibility: visible;
  color: inherit;
  font-size: 1.25em;
  font-style: italic;
}

#word_cloud > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#wc-color-key li {
  padding: 0.25em 0.5em;
}


@media only screen and (max-width: 1000px) {
  
  #table-main-2 {
    display: none !important;
  }

  .compare_width {
    width: 100% !important;
  }

  .main-header .navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    display: none !important;
  }

  .main-header .navbar-nav {
    display: none !important;
  }
  
  /* We're using Bootstrap v4 CSS (from WWVT) and v3 JS (from Shiny Dashboard). 
    The rule below displays a collapsed element when the "in" class is attached 
    (v4 uses "show" instead). */
  .main-sidebar .collapse:not(.show).in,
  .main-sidebar #navbarResponsive.in {
    display: block;
  }
  
  .main-sidebar .collapse:not(.show).in + .sidebar,
  .main-sidebar #navbarResponsive.in + .sidebar {
    display: none;
  }

  .side-open {
    transform: none !important;
  }

  .side-close {
    -webkit-transform: translate(-230px,0) !important;
    -ms-transform: translate(-230px,0) !important;
    -o-transform: translate(-230px,0) !important;
    transform: translate(-230px,0) !important;
  }

} /* END @media only screen and (max-width: 1000px) */


@media only screen and (max-width: 500px) {
  
  body {
    height: initial !important;
    overflow-y: auto;
  }
  
  .wrapper {
    grid-template-areas:
      "header"
      "sidebar"
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: visible;
  }

} /* END @media only screen and (max-width: 1000px) */
